.PageProject {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.PageProject .content {
    display: flex;
    flex: 1;
}

.PageProject main{
    flex: 1;
}

.PageProject .tree {
    display: flex;
    min-width: 400px;
    width: 25%;

    padding-left: 10px;
    background-color: #f5f5f5;
}