@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --first-color: #222;
    --second-color: white;
    --active-color: #dbcb51;
}
