@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --module: 25px;

    --first-color: #222;
    --second-color: white;
    --active-color: #dbcb51;

    --color-main: #f3ff00;
    --color-highlight: #e7e6e0;
}
