.TreeView {
    width: 100%;
}

.TreeNode {
    --nodes-shift: 30px;

    display: flex;
    flex-direction: column;
}

.TreeNode > .nodes{
    margin-left: var(--nodes-shift);
}

.TreeNode.root {
    --nodes-shift: 0;
}