.FileTreeNode {
    --text-align: left;
    --font-size: 14px;

    display: flex;
    flex-direction: column;
}

.FileTreeNode span {
    text-align: var(--text-align);
    font-size: var(--font-size);
    font-weight: bold;

    background-color: #e9e9e9;
    padding: 4px 5px;
}

.FileTreeNode button {
    text-align: var(--text-align);
    font-size: var(--font-size);

    background-color: white;
    padding: 3px 5px;
    border: none;
}

.FileTreeNode button:hover {
    cursor: pointer;

    background-color: gold;
}
