.FileTreeNode {
    --text-align: left;
    --font-size: 14px;
    --highlight: #e7e6e0;

    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.FileTreeNode .actions {
    display: none;
}

.FileTreeNode:hover .actions {
    display: flex;
}

.FileTreeNode .file-info {
    --status-color: #ccc;
    padding: 0 10px;
    font-size: var(--font-size);
    font-family: monospace;

    background-color: var(--status-color);
}

.FileTreeNode .file-info.status-pass {
    --status-color: green;
}

.FileTreeNode .file-info.status-fail {
    --status-color: red;
}

.FileTreeNode span {
    text-align: var(--text-align);
    font-size: var(--font-size);
    font-weight: bold;

    /* background-color: #e9e9e9; */
    padding: 4px 5px;
}

.FileTreeNode .folder button {
    flex: 1;

    text-align: var(--text-align);
    font-size: var(--font-size);

    background: none;
    padding: 3px 5px;
    border: none;
}

.FileTreeNode .folder button:hover {
    cursor: pointer;

    background-color: var(--highlight);
}

.FileTreeNode .folder button:focus {
    outline: none;

    background-color: var(--highlight);
}

.FileTreeNode a {
    height: var(--module);
    line-height: var(--module);
    flex: 1;

    color: black;
    text-align: var(--text-align);
    text-decoration: none;
    font-size: var(--font-size);

    background: none;
    /* padding: 3px 5px; */
    padding: 0px 5px;
    border: none;
}

.FileTreeNode a:focus {
    outline: none;

    background-color: var(--highlight);
}

.FileTreeNode a:hover {
    background-color: var(--highlight);
}

.FileTreeNode a:visited {
    color: black;
}

.FileTreeNode .folder{
    flex: 1;

    display: flex;
    align-items: center;
}

.FileTreeNode .folder button{
    flex: 1;
    height: var(--module);
}

.FileTreeNode a.status-fail {
    color: red;
}

.FileTreeNode a.status-pass {
    color: #03c503;
}