.IconButton {
    --background: none;

    cursor: pointer;

    width: var(--module);
    height: var(--module);

    background: var(--background);
    border: none;

    outline: none;
}

.IconButton:disabled {
    cursor: auto;
    background: none;
}

/* theme */

.IconButton.theme-light:hover {
    --background: var(--color-highlight);
}

.IconButton.theme-dark:hover svg {
    fill: var(--color-main);
}

.IconButton.theme-dark:focus svg {
    fill: var(--color-main);
}