.PageLogin {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PageLogin button{
    font-size: 1.0em;

    height: 44px;
    padding: 0px 15px;
    background: transparent;

    cursor: pointer;
}

.PageLogin button:disabled{
    background-color: #dcdcdc;
    color: #999;
    cursor: auto;
}

.PageLogin button:focus {
    background-color: #f3ff00;
    outline: none;
}

.PageLogin form {
    display: flex;
    flex-direction: column;

    width: 400px;
}

.PageLogin form input {
    font-size: 1.0em;

    height: 40px;
    line-height: 40px;

    border: none;
    border-bottom: 1px solid black;

    padding: 0px 15px;

    flex: 1;
}

.PageLogin form input:focus {
    background-color: #f3ff00;
    outline: none;
}

.PageLogin form input:last-child {
    /* border: none; */
}

.PageLogin label{
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.PageLogin label span {
    display: block;
    width: 80px;
    margin-right: 10px;

    text-align: right;
}

.PageLogin form .body {
    display: flex;
    flex-direction: column;
}

/* form style */

.PageLogin form .body {
    border-top: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
}

.PageLogin form .footer {
    display: flex;
}

.PageLogin form .submit {
    border: 7px solid black;
    border-top: none;
}

.PageLogin form .spacer {
    flex: 1;
    border-top: 7px solid black;
}